.navbar {
  background-color: var(--primary-blue);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 0.3rem 0;
  border-bottom: 4px solid var(--accent-red);
  transition: all 0.3s ease;
  margin-bottom: 0;
}

.navbar .nav-link {
  color: rgba(255, 255, 255, 0.9) !important;
  font-weight: 600;
  font-size: 0.95rem;
  transition: color 0.3s;
}

.navbar .nav-link:hover {
  color: var(--accent-yellow) !important;
}

.navbar-brand img{
  max-height: 50px;
  width:auto;
}

.btn-custom {
  background-color: var(--accent-red);
  color: white;
  padding: 10px 25px;
  border-radius: 50px;
  font-weight: 600;
  border: none;
  transition: all 0.3s;
  text-decoration: none;
}

.btn-custom:hover {
  background-color: #a00000;
  color: white;
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
