.player-carousel-wrapper {
  position: relative;
  overflow: hidden;
  min-height: auto; /* adjust height as needed */
}

.player-carousel-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("../../Images/PublicImages/image-4.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(25px) brightness(0.8);
  z-index: -1;
  transform: scale(1.1);
}

.carousel-control-prev,
.carousel-control-next {
  width: 4%;
}

.carousel-control-prev {
  left: 20%;
}

.carousel-control-next {
  right: 20%;
}

@media (max-width: 768px) {
  .carousel-control-prev,
  .carousel-control-next {
    width: 8%;
  }

  .carousel-control-prev {
    left: -3%;
  }

  .carousel-control-next {
    right: -3%;
  }
}

.img-vertical {
  width: 30%;
  aspect-ratio: 9 / 16;
  object-fit: cover;
}

@media (max-width: 768px) {
  .img-vertical {
    width: 80%;
  }
}

.video-vertical {
  width: 30%;
  aspect-ratio: 9 / 16;
  object-fit: cover;
}

@media (max-width: 768px) {
  .video-vertical {
    width: 80%;
  }
}