.results-section {
  background: linear-gradient(to bottom right, var(--yellow), var(--blue));
  color: black;
}

.results-grid {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 3rem;
  flex-wrap: wrap;
  padding: 0 2rem;
}

.results-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 45%;
  max-width: 780px;
}

.results-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.results-etapa {
  font-size: 1.8rem;
  font-weight: bold;
  color: black;
  margin-bottom: 1rem;
  text-align: center;
}

@media (max-width: 768px) {
  .results-grid {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .results-column {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .results-img {
    margin-left: 0;
    width: 90%;
  }

  .results-etapa {
    font-size: 1.5rem;
  }
}